<h2 class="text-center">My choices </h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <span class="card-bg"></span>
        <span class="card-text">
          <h2>Rooftop Paris</h2>
          <%= image_tag 'parisrooftop1-1', class: "full-width" %>
        </span>
        <span class="card-user">
        </span>
        <a href="#" class="card-link"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <span class="card-bg"></span>
        <span class="card-text">
          <h2>Overview of Berlin</h2>
          <%= image_tag 'parisrooftop1-1', class: "full-width" %>
        </span>
        <span class="card-user">
        </span>
        <a href="#" class="card-link"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <span class="card-bg"></span>
        <span class="card-text">
          <h2>Mojito in Lisboa</h2>
          <%= image_tag 'parisrooftop1-1', class: "full-width" %>
        </span>
        <span class="card-user">
        </span>
        <a href="#" class="card-link"></a>
      </div>
    </div>
  </div>
</div>
