<h2> Your Space / ID   </h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
         <%= image_tag @space.picture.url(:medium) %>
      </div>
    </div>
  </div>
</div>

