<div class = "text-center">
  <h1 > Here is you announce</h1>
    <h3><%= @space.title %></h3>
       <p><%= @space.description %></p>
       <p><%= @space.price_per_day %></p>
        <%= image_tag @space.picture.url(:medium) %>
</div>
