
<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Share Space</h3>

        <p class="footer-text">
          Réalisé avec <%= image_tag("coeur.png", :alt => "rss feed", :width => 20, :height => 20) %> par la Front-end Team du Wagon. <br><br>Oscar, Ricardo et David.
        </p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>16 villa Gaudelet</span> Paris, France</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>No phone, no problem !</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@sharespace.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About Share Space</span>
          Share Space est une compagnie fictive crée par la team front-end du Wagon
        </p>

        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
        </div>

      </div>

    </footer>
