// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profil_picture {
  width: 150px;
  height: 150px;
  border: solid black 1px;
  border-radius: 50px
}
